<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Sign Up - Dream Diary</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-logo"></div>
        <div class="navbar-buttons">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            <a href="/about">About</a>
        </div>
    </div>

    <!-- Logo at the Top -->
    <div style="padding-left:15px;text-align: center; margin-top: 60px; margin-bottom:0;">
        <img src="/static/logo3.png" alt="Dream Diary Logo" style="max-width: 400px; height: auto;">
    </div>

    <!-- Signup Form -->
    <div class="login-container" style="margin-top: 60px; text-align: center;"> <!-- Adjusted margin-top -->
        <h2>Sign Up</h2>
        <form action="/signup" method="post" style="max-width: 400px; margin: auto;">
            <div class="input-container" style="margin-bottom: 15px;">
                <label for="email" style="font-weight: bold;font-family:Franklin Gothic Book, sans-serif;">Email:</label>
                <input type="email" id="email" name="email" required style="width: 100%; padding: 12px; border: 2px solid #B186CB; border-radius: 8px; transition: border-color 0.3s;">
            </div>
            <div class="input-container" style="margin-bottom: 15px;">
                <label for="password" style="font-weight: bold; font-family:Franklin Gothic Book, sans-serif;">Password:</label>
                <input type="password" id="password" name="password" required style="width: 100%; padding: 12px; border: 2px solid #B186CB; border-radius: 8px; transition: border-color 0.3s;">
            </div>
            <button type="submit" class="button2" style="background-color: #B186CB; color: white; padding: 10px 20px; border: none; border-radius: 8px; font-weight: bold; cursor: pointer; transition: background-color 0.3s;">
                Sign Up
            </button>
        </form>
        <p style="margin-top: 20px; font-family:Franklin Gothic Book, sans-serif;">Already have an account? <a href="/login" style="color: #B186CB; font-family:Franklin Gothic Book, sans-serif; font-weight: bold;">Login here</a></p>
    </div>

</body>
</html>
